* {
    font-family: arial, sans-serif;
    font-size: 13px;
}

body {
    padding: 0;
    margin: 0;
}

/* GRID LAYOUT */
.container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 50px 1fr 40px;
    height: 100vh;

}

/* STYLING ELEMENTS */
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    float: left;
    text-align: center;
    text-decoration: none;
    color: darkslategray;
    padding-left: 15px;
}

li a:hover {
    text-decoration: underline;
}

input[type=button] {
    color: rgba(0, 0, 0, 0.644);
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.055);
    border: 0px;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin: 4px;
}

input[type=text] {
    border: 1px solid lightgrey;
    border-radius: 75px;
    width: 100%;
    padding: 13px;
    margin: 0;    
}

input[type=text]:hover {
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

input[type=text]:focus {
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

#sign-in-button {
    background-color: #4285F4;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    border-radius: 2px;
    margin: -5px 15px 0px 20px;
}


/* TOP NAV */
.top-left-nav {
    margin: 18px 0px 0px 20px;
}

.top-right-nav {
    display: grid;
    justify-content: end;
    align-items: end;
    margin: 18px 20px 120px 20px;
}

/* MIDDLE */
.middle-content {
    display: grid;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-top: 8em; 
    height: 250px;
}

#search {
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    width: 400px;
    font-size: 1.3em;    
}

#logo {
    margin-left: 75px;
}

#search-buttons {
    justify-content: center;
    align-items: start;
    margin-left: 65px;
}

/* BOTTOM NAV */
.bottom-left-nav {
    display: grid;
    align-items: center;
    justify-content: start;
    padding: 0px;
    margin: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.082);
    background-color: rgba(0, 0, 0, 0.055);
}

.bottom-left-nav a:link {
    color: gray;
}

.bottom-right-nav {
    display: grid;
    justify-content: end;
    align-items: center;
    padding-right: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.082);
    background-color: rgba(0, 0, 0, 0.055);
}

.bottom-right-nav a:link {
    color: gray;
}